/*----- --GERAL-- -----*/
/* /* @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); questrial */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');  /* inter */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");  /* icons */

*{
    margin: 0; padding: 0;
    list-style: none; text-decoration: none;
    box-sizing: border-box; font-family: 'Inter', sans-serif;
    transition: 100ms; scroll-behavior: smooth;
    overflow: hidden;
}

/*----- --VARIAVEIS-- -----*/
:root{
    --back: #1D1D1D;
    --back1: #1C2333;
    --corFont: #FF8E00;
}

/*----- --TOPO-- -----*/
.topo{
    background-color: var(--back1);
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

/* -logo- */
.logo span{
    font-size: 1.3rem;
}

.logo span:nth-child(2){
    font-size: 1.4rem;
    color: var(--corFont);
    font-weight: bold;
}

/* -navTopo- */
.menuTopo{
    display: flex;
    align-items: center;
}

.avatar-topo{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

/*----- --CONTENTEUDO-- -----*/
.content{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

/* --menu-lateral-- */
.menuLateral{
    background: #1C2333;
    color: #fff;
    padding: 5px 30px;
    height: calc(100vh - 50px);
}

/* -btnMenuL- */
.btnMenuL{
    background: none;
    border: none;
    width: 100%;
    text-align: right;
}

.btnMenuL i{
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

/* -navBarL- */
.navBarL{
    display: block;
    transition: 300ms;
}

/* -btnRegChamada- */
.ul1{
    margin: 10px 0;
}

.ul1:hover{
    background: rgba(255, 255, 255, 0.301);
}

.ul1 li{
    color: var(--corFont);
    border: 3px solid #fff;
    padding: 5px;
    text-align: center;
}

/* -menuUl2- */
.ul2{
    width: 150px;
}

.navBarL ul li{
    padding: 5px 0px;
    cursor: pointer;
}

.navBarL ul li ul{
    margin-left: 10px;
}

/* --visualContent-- */
.visualContent{
    padding: 5px;
    width: 100%;
}

.cardLink{
    width: 100%;
    border: 1px solid #8f8f8f;
    margin: 3px 0;
}/*// Cards Geral */

.cardLink:hover,
.cardLink *:hover{
    background: #323e5a;
    color: #fff;
    transition: all 50ms ease 0s;
    text-decoration: none;
}

.linksVisual{
    display: none;
}

.cardLink > a{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    color: #000;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.linksVisual h1{
    background:#323e5a;
    margin-bottom: 10px;
    color: #E76902;
    padding: 5px;
}

.visulActive{
    display: block;
    animation: visul 400ms ease-in-out;
}

@keyframes visul {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* --painelContent-- */
.painelContent{
    width: 100%;
    max-width: 250px;
    border: 2px solid var(--back1);
    margin: 5px 5px 5px 0;
}

/* --menuModal-- */
.menuModal{
    width: 50%;
    height: calc(100vh - 50px);
    position: absolute;
    background: #fff;
    display: none;
    right: 0;
    padding: 20px;
    border: 5px solid var(--back1)
}

.menuModalActive{
    display: block;
    animation: modalForm 300ms ease-in-out;
}

@keyframes modalForm{
    0%{
        right: -50%;
    }

    100%{
        right: 0;
    }
}

/* -topoModal- */
.btnTopoModal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnTopoModal h1{
    font-size: 1.4rem;
    color: var(--corFont)
}

/* -formuularioModal- */
.formModal form div *{
    display: block;
    outline: none;
    width: 100%;
}

.formModal form{
    display: grid;
    grid-template-columns: 45% 45%;
    flex-wrap: wrap;
    gap: 10px;
}

.formModal form input{
    height: 30px;
    padding: 0 5px;
    border: 1px solid;
    border-radius: 8px;
}

.formModal form label{
    cursor: pointer;
    margin: 10px 0 3px 5px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-form-div{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px;
    top: 300px;
}

.btn-form{
    background: rgb(233, 233, 233);
    min-width: 120px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: 1px solid;
    box-shadow: 2px 1px 4px #000;
    cursor: pointer;
    transition: 200ms;
}

.btn-form:hover{
    color: var(--corFont);
    background: var(--back1)
}

.btn-form-div .btn-x-modal{
    justify-content: left;
    display: flex;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 20px;
    text-decoration: underline 2px;
    font-weight: 500;
    transition: 200ms;
}

.btn-x-modal:hover{
    color: #ff0000;
    text-decoration: underline 2px #ff0000;
}

/*- --tabelaCH-- -*/
#table{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    background: #fff;
    overflow: auto;
}

.btnXlist{
    position: fixed;
    right: 10px;
    margin: 20px;
    font-size: 1.5rem;
    color: #fff;
    background: var(--back1);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.imprimir{
    top: 100px;
    background: none;
    text-decoration: underline;
    color: #000;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.tabelaCHhead{
    background: var(--back1);
    border: 2px solid;
}

table th,
table td {
    text-align: center;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    display: flex;
}

table td:nth-child(2),
table td:nth-child(4),
table td:nth-child(6),
table td:nth-child(8),
table td:nth-child(10){
    display: none;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
/* --RODAPE-- */

/* --RESPONSIVO-- */